.linkedin {
	width: 40px;
}
.linkedin {
	fill: blue;
}
.full {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Raleway', sans-serif;
	margin-top: 50px;
}
.head-img {
	width: 300px;
	height: 300px;
}
.hr-min {
	width: 40%;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif;
}
.navbar-brand {
	padding: 0px !important;
}
.loading {
	animation: r-load linear 0.8s infinite;
}
@keyframes r-load {
	from {
		transform: rotate(0deg);
		}
	to {
		transform: rotate(360deg);
	}
}
.mid-align {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-content: center;
	align-content: center;
}
.text-aside {

}
.text-aside > * {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.text
#headnav {
	font-size: 20px;
}